<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concebir.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragments.Nosotros.frament_nosotros"></activity>
        <activity android:name=".Fragments.Notificacion.fragment_notificacion" />
        <activity android:name=".Fragments.Principal.fragment_principal" />
        <activity android:name=".Fragments.Busqueda.fragment_busqueda" />
        <activity android:name=".Fragments.Add.fragment_agregar" />
        <activity android:name=".Registro.Registrar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.Inicio" >

        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>